.appheader-section {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
  z-index: 100;
  p {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem;
  }
}